In [1]:
!pwd

/home/jhjh/data

In [2]:
f = open("새파일이에요.txt","w")

for i in range(0,20,2):
    f.write(i)
    f.write("별일이에요. \n 금방 작성 되네요")
f.close()

In [3]:
ls

 README.md               py02_주요자료형.ipynb     test.py
 disp.py                'py03_제어문 완료.ipynb'   새파일이에요.txt
 ps01.ipynb              py04_함수.ipynb
 py01_기초자료형.ipynb   py05_입출력제어.ipynb

In [10]:
import requests as req

f = open("./즐겨찾기종목.txt","w", encoding="utf-8")   # (가능하면 encoding만 추가)

url = "https://finance.naver.com/sise/sise_market_sum.naver"
ori = req.get(url).text
code = ['005930','000270','005380','012450','068270']

def finance(code = '005930'):
    start_title = ori.find(f'<a href="/item/main.naver?code={code}" class="tltle">')
    ori1 = ori[start_title : start_title + 70].replace(f'<a href="/item/main.naver?code={code}" class="tltle">','').replace('</a></td>','').replace('</a></td','').replace('\n','').strip()
    ori2 = ori[start_title + 70 : start_title + 105].replace('<td class="number">','').replace('</td>','').replace('>','').strip()
    print("종목:",ori1)
    print("가격:",ori2)

    f.write("종목: " + ori1 + "\n")
    f.write("가격: " + ori2 + "\n\n")
    
for x in code:
    finance(x)

f.close()

종목: 삼성전자
가격: 181,700
종목: 기아
가격: 163,700
종목: 현대차
가격: 498,500
종목: 한화에어로스페이스
가격: 1,102,500
종목: 셀트리온
가격: 234,500

In [12]:
import random as ran
f = open("/home/jhjh/data/로또 10세트.txt", 'w')
for i in range(10):
    box =[] 
    while len(box) < 6:
        num = ran.randint(1, 46)
        if num not in box:
            box.append(rr)
    print(f"{i+1}번째 결과: {box}")
    f.write(f"{i+1}번째 결과: {box}\n")
f.close()

1번째 결과: [31, 41, 46, 33, 28, 16]
2번째 결과: [11, 27, 36, 32, 22, 30]
3번째 결과: [46, 8, 21, 35, 20, 42]
4번째 결과: [44, 35, 19, 8, 45, 13]
5번째 결과: [1, 24, 22, 41, 27, 17]
6번째 결과: [9, 34, 22, 39, 30, 36]
7번째 결과: [21, 38, 10, 3, 30, 2]
8번째 결과: [16, 42, 35, 28, 15, 26]
9번째 결과: [14, 39, 18, 17, 32, 24]
10번째 결과: [28, 4, 6, 24, 15, 7]

In [23]:
import time as tt
f = open("./즐겨찾기종목.txt","r")

while 1:
    line = f.readline()
    if not line : break
    print(line, end ="")
    tt.sleep(1)
f.close()

## With문으로 읽고, 쓰기

In [11]:
with open("./즐겨찾기종목.txt", "r", encoding="utf-8") as f:
    print(f.closed) 
    print(f.read())
    print(f.closed)   
print(f.closed)

False
종목: 삼성전자
가격: 181,700

종목: 기아
가격: 163,700

종목: 현대차
가격: 498,500

종목: 한화에어로스페이스
가격: 1,102,500

종목: 셀트리온
가격: 234,500


False
True

In [12]:
import sys
args = sys.argv
for i in args:
    print(i)

/home/jhjh/venv/lib/python3.12/site-packages/ipykernel_launcher.py
-f
/home/jhjh/.local/share/jupyter/runtime/kernel-cc9928db-b476-4621-aea2-fd068d2575fd.json

In [13]:
!python3 args_test.py 12 34 56

python3: can't open file '/home/jhjh/data/args_test.py': [Errno 2] No such file or directory

In [16]:
%%sh
python3 args_test.py 12 34 56
python3 btc.py

{"symbol":"BTCUSDT","price":"66278.01000000"}
95970544원
9억5970만544원

In [32]:
def is_odd(number):
    if number%2 != 0:
        return True
    else :
        return False
print(is_odd(3458))
print(is_odd(237))

False
True

In [28]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return float(result / len(args))

print(avg_numbers(1,2))
print(avg_numbers(1,2,3,4,5))

1.5
3.0

In [35]:
input1 = input("첫 번째 숫자를 입력하세요: ")
input2 = input("두 번째 숫자를 입력하세요: ")

total = int(input1) + int(input2)
print(f"두 수의 합은 {total}입니다")

첫 번째 숫자를 입력하세요:  12
두 번째 숫자를 입력하세요:  56

두 수의 합은 68입니다

# 출력 결과가 다른 것은?
### 다음 중 출력 결과가 다른 하나를 골라 보자.
① print("you" "need" "python")  
② print("you"+"need"+"python")  
③ print("you","need","python")  
④ print("".join(["you","need","python"]))

정답은 3번 -> 단어들 사이에 공백이 추가됨

In [42]:
f1 = open("test.txt",'w')
f1.write("Life is too short")

f2 = open("test.txt",'r')
print(f2.read())

Life is too short

In [4]:
user_input = input("저장할 내용을 입력하세요 : ")
f = open('test.txt','a')
f.write("\n" + user_input + "\n")
f2 = open("test.txt",'r')
f.close()
print(f2.read())

저장할 내용을 입력하세요 :  집 갈래

Life is too short
집 갈래

In [5]:
f2 = open("test.txt",'r')
print(f2.read())

Life is too short
집 갈래

In [8]:
f = open('test.txt','r')
body = f.read().replace('java','python')
f.close()
f = open('test.txt','w')
f.write(body)
f.close()
f2 = open('test.txt','r')
print(f2.read())
f2.close()

Life is too short
you need python

In [13]:
import sys
def add_numbers(*args):
    result = 0
    for i in args:
        result += int(i)
    return result
    print(add_numbers(*sys.argv[1:]))

add_numbers(1,2,3,4,5,6,7,8,9,10)

55

In [14]:
name = input("당신의 이름은?")
age = input("당신의 나이는?")
with

SyntaxError: invalid syntax (4031914342.py, line 3)