In [27]:
for i in range(1, 10):
    print("==========")
    print(f"{i} 단")
    print("----------")
    for j in range(1, 10):
        num = i * j
        print(f"{i} X {j} = {num}")
    print("==========")

==========
1 단
----------
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
==========
==========
2 단
----------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
==========
==========
3 단
----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
==========
==========
4 단
----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
==========
==========
5 단
----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
==========
==========
6 단
----------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
==========
==========
7 단
----------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
==========
==========
8 단
----------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
==========
==========
9 단
----------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
==========

In [39]:
for i in range(2, 10):
    num = []
    print("==========")
    print(f"{i} 단")
    print("----------")
    for j in range(1, 10):
        val = i * j
        num.append(val)
        print(val)
    print("==========")

==========
2 단
----------
2
4
6
8
10
12
14
16
18
==========
==========
3 단
----------
3
6
9
12
15
18
21
24
27
==========
==========
4 단
----------
4
8
12
16
20
24
28
32
36
==========
==========
5 단
----------
5
10
15
20
25
30
35
40
45
==========
==========
6 단
----------
6
12
18
24
30
36
42
48
54
==========
==========
7 단
----------
7
14
21
28
35
42
49
56
63
==========
==========
8 단
----------
8
16
24
32
40
48
56
64
72
==========
==========
9 단
----------
9
18
27
36
45
54
63
72
81
==========

In [41]:
for i in range(10):
    if i == 6 :
        break
        print(i)
    else : print("for 문이 정상 종료되었습니다.")

for 문이 정상 종료되었습니다.
for 문이 정상 종료되었습니다.
for 문이 정상 종료되었습니다.
for 문이 정상 종료되었습니다.
for 문이 정상 종료되었습니다.
for 문이 정상 종료되었습니다.

In [44]:
names = ['홍길동', '김철수', '이영희','이순신']
scores = [85, 92, 78, 99]
grade = ["합격" if x > 85 else "불합격" for x in scores]

for x,y,z in zip(names, scores,grade):
    print(f"{x} 님은 {y}점 이므로 {z}입니다.")

홍길동 님은 85점 이므로 불합격입니다.
김철수 님은 92점 이므로 합격입니다.
이영희 님은 78점 이므로 불합격입니다.
이순신 님은 99점 이므로 합격입니다.

In [45]:
result = 0
i = 1
while i <= 1000:
    if i%3 == 0:
        result += i
    i+=1
print(result)

166833

In [52]:
i = 0 
while True:
    i += 1
    if i > 5:break
    print("*"*i,sep="")

*
**
***
****
*****

In [57]:
for i in range(1,101):
    print(i,sep='')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [72]:
A = [70, 60, 55, 75, 95,90, 80, 80, 85, 100]
total = 0
for score in A :
    total += score
average = total / 10
print(average)

79.0

In [74]:
numbers = [1,2,3,4,5]
result = []
for n in numbers :
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [75]:


start2 = tt.time()
for a in arr_T:
    sample = (1,2,3,4,5)
else :
    print(tt.time() - start2)

NameError: name 'tt' is not defined